body {
  background-color: rgba(234, 231, 220, 0.2);
}

.container {
  text-align: center;
  margin: 70px auto;
  font-family: "Mali", cursive;
  color: rgb(141, 142, 138);
  max-width: 600px;
}

.card-body {
  box-shadow: 1px 1px 3px rgb(141, 142, 138);
  background-color: rgba(234, 231, 220, 0.4);
}

.button-celcius-fahrenheit {
  text-align: left;
  margin: 10px 20px;
}
.converter {
  border-radius: 5px;
  width: 35px;
  padding: 5px;
  transition: all 200ms ease;
}
.converter:hover {
  background: rgba(234, 231, 220, 0.6);
  box-shadow: 1px 1px 3px rgba(233, 128, 116, 0.8);
  color: rgb(232, 90, 79);
}

h1 {
  font-size: 30px;
  margin: 20px;
  text-shadow: 3px 1px 3px rgba(20, 33, 61, 0.3);
}

h2 {
  font-size: 23px;
  text-shadow: 1px 1px 3px rgba(20, 33, 61, 0.4);
  text-align: left;
  margin: 5px 15px;
  color: rgb(232, 90, 79);
}

h3 {
  font-size: 20px;
}

#sky-weather {
  text-transform: capitalize;
  font-size: 12px;
}

.form-control {
  box-shadow: 1px 1px 3px rgba(141, 142, 138, 0.8);
  background-color: rgba(234, 231, 220, 0.2);

  color: rgb(141, 142, 138);
  transition: all 200ms ease;
}
.form-control:hover {
  background: rgba(234, 231, 220, 0.5);
  border-color: rgba(232, 90, 79, 0.4);
  box-shadow: 1px 1px 3px rgba(233, 128, 116, 0.8);
}

.form-control:focus {
  background: rgba(234, 231, 220, 0.5);
  border-color: rgba(232, 90, 79, 0.4);
  box-shadow: 1px 1px 3px rgba(233, 128, 116, 0.8);
}

p,
footer {
  font-size: 12px;
  margin-top: 3px;
}

footer {
  text-align: left;
}

a {
  color: rgb(237, 128, 116);
}
a:hover {
  color: rgb(232, 90, 79);
}

#weather-forecast {
  margin: 0 10px 0 10px;
  max-height: 135px;
}

#today {
  text-align: right;
  margin: 0 20px;
  font-size: 16px;
  padding: 5px 0px;
  line-height: 1;
}

button {
  border-radius: 14px;
  background: border-box;
  border-width: inherit;
  height: fit-content;
  box-shadow: 1px 1px 3px rgb(141, 142, 138);
  padding: 13px;
  color: rgb(141, 142, 138);
}

ul {
  margin: 5px 20px;
  list-style-type: none;
}
.main-info {
  margin-top: 15px;
}

.main-temp {
  color: rgb(232, 90, 79);
  width: 100px;
  display: block;
  margin: 10px 20px 45px;
}
.more-info {
  padding: 0;
  line-height: 1.75;
  text-align: left;
}

.weather-for-today {
  max-height: 190px;
}
