body {
  background-color: rgba(248, 244, 233, 0.2);
}

.container {
  text-align: center;
  margin: 70px auto;
  font-family: "Mali", cursive;
  color: rgb(47, 92, 108);
  max-width: 600px;
}

.card {
  border-style: none;
  box-shadow: 1px 1px 3px rgb(195, 182, 159);
  background-color: rgba(248, 244, 233, 0.5);
}

h1 {
  font-size: 30px;
  margin: 20px;
  text-shadow: 3px 1px 3px rgba(20, 33, 61, 0.3);
}

h2 {
  font-size: 23px;
  text-shadow: 1px 1px 3px rgba(20, 33, 61, 0.4);
  text-align: left;
  color: rgb(245, 137, 93);
}

h3 {
  font-size: 20px;
}

#temp {
  color: rgb(245, 137, 93);
}

#sky-weather {
  text-transform: capitalize;
  font-size: 12px;
}

form {
  margin: 20px;
}
.form-control {
  box-shadow: 1px 1px 3px rgb(195, 182, 159);
  background-color: rgba(248, 244, 233, 0.2);
  color: rgb(47, 92, 108);
  transition: all 200ms ease;
}
.form-control:hover {
  color: rgb(245, 137, 93);
  background: rgba(248, 244, 233, 0.2);
  border-color: rgba(245, 137, 93, 0.3);
  box-shadow: 1px 1px 3px rgba(245, 137, 93, 0.5);
}
.form-control:focus {
  background: rgba(248, 244, 233, 0.2);
  border-color: rgba(245, 137, 93, 0.3);
  box-shadow: 1px 1px 3px rgba(245, 137, 93, 0.5);
}

p,
footer {
  font-size: 12px;
  margin-top: 3px;
}

footer {
  text-align: left;
}

a {
  color: rgb(47, 92, 108);
}
a:hover {
  color: rgb(245, 137, 93);
}

#today {
  text-align: right;
  margin: 0 20px;
  font-size: 16px;
  padding: 5px 0px;
  line-height: 1;
}

button {
  border-radius: 14px;
  background: rgba(47, 92, 108, 0.2);
  border-width: inherit;
  height: fit-content;
  box-shadow: 1px 1px 3px rgb(141, 142, 138);
  padding: 13px;
  color: rgb(47, 92, 108);
}

ul {
  margin: 5px 20px;
  list-style-type: none;
}
.main-info {
  margin: 5px 15px;
}
.main-temp {
  color: rgb(47, 92, 108);
  width: 100px;
  display: block;
  margin: 10px 20px 20px;
}
.more-info {
  padding: 0;
  line-height: 1.75;
  text-align: left;
}

.weather-for-today {
  max-height: 190px;
}

#weather-forecast {
  margin: 0 20px 0 20px;
}
