.container {
  text-align: center;
  margin: 20px auto;
  font-family: "Mali", cursive;
  color: rgba(20, 33, 61, 0.8);
  background-color: rgb(255, 255, 255);
  max-width: 600px;
  margin: 20px auto;
}
.card-body {
  box-shadow: 1px 1px 3px grey;
}

h1 {
  font-size: 30px;
  margin: 20px;
  text-shadow: 3px 1px 3px rgba(20, 33, 61, 0.3);
}

h2 {
  font-size: 23px;
  text-shadow: 1px 1px 3px rgba(20, 33, 61, 0.4);
  text-align: left;
  margin: 5px 15px;
}

h3 {
  font-size: 20px;
}
#skyWeather {
  text-transform: capitalize;
  font-size: 12px;
}

form {
  margin-bottom: 20px;
  margin-left: 10px;
}

.form-control {
  box-shadow: 1px 1px 3px grey;
}
.form-control:focus {
  border-color: rgba(20, 33, 61, 0.5);
  box-shadow: 0 0 0 0.15rem rgb(255 193 7 / 25%);
}

p,
footer {
  font-size: 12px;
}

#today {
  text-align: right;
  margin: 0 20px;
  font-size: 16px;
  padding: 5px 0px;
}

button {
  border-radius: 14px;
  background: border-box;
  border-width: thin;
  border-color: rgba(20, 33, 61, 0.5);
  height: fit-content;
  box-shadow: 1px 1px 3px grey;
  padding: 13px;
  transition: all 200ms ease;
}
button:hover {
  background: rgb(229, 229, 229);
  box-shadow: 1px 1px 3px rgba(252, 163, 17, 0.5);
}
.btn-light {
  transition: all 200ms ease;
}
.btn-light:hover {
  background: rgb(229, 229, 229);
  box-shadow: 0 0 0 0.15rem rgb(255 193 7 / 25%);
}

ul {
  list-style-type: none;
  padding: 0;
}

.main-temp {
  width: 100px;
  display: block;
  margin: 10px 20px 45px;
}
.more-info {
  padding: 7px;
  line-height: 1.75;
  text-align: left;
}

.row {
  line-height: 35px;
}
.main-info {
  line-height: 15px;
}

.col {
  font-size: 15px;
}

.days {
  line-height: 20px;
}
